.interactive-dinamic-select {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    vertical-align: middle;
    margin-bottom: 24px;
    p {
        margin: 0px !important;
    }
}