.spacer {
    flex: 1 1 auto;
}

.list-item-ref {
    min-width: 350px;
    display: flex;
    justify-content: flex-end;
    vertical-align: middle;
    align-items: center;

    .nav-list-item {
        margin: 0px !important;
        margin-left: 24px !important;
    }
}

.p-logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    font-size: 20px;
    line-height: 24px;
    color: rgba(0, 0, 0, 0.67);

    b {
        font-size: 20px;
        line-height: 24px;
        font-weight: 700;
    }

    .image-logo {
        margin-right: 8px;
        width: 20px;
        height: 20px;
    }
}

.menu-item {
    min-height: 54.5px !important;
    padding-top: 7.5px;
    border-bottom: solid 1px #DADADA;
}

.login-item {
    min-height: 63px !important;
    height: 63px !important;
    width: 100%;
    border-bottom: solid 1px #DADADA;
}

.bordered-bottom-item {
    border-bottom: solid 1px #DADADA;
}

.principal-title {
    margin-top: -14px;
}

.dinamic-router-outlet {
    padding: 16px 24px;
    display: flex;
    min-height: calc(100vh - 128px - 32px);
    max-height: calc(100vh - 128px - 32px);
    height: calc(100vh - 128px - 32px);

    .side-left {
        width: 300px;
        height: 100%;
        overflow: hidden;

        .container-year-detail {
            max-height: 60%;
            overflow: auto;
        }
    }

    .side-center {
        margin-top: -60px;
        position: relative;
        margin-left: 0px;
        width: calc(100% - 350px);
        background: transparent;
        height: calc(100% + 60px);
        overflow: hidden;

        .legend {
            position: absolute;
            left: 16px;
            bottom: 0px;
            display: flex;
            flex-direction: row;
            align-items: center;
            vertical-align: middle;
            justify-content: flex-start;

            p {
                font-family: 'Montserrat';
                font-size: 10px;
                line-height: 10px;
                font-weight: 600;
                margin: 0px !important;
                display: flex;
                flex-direction: row;
                align-items: center;
                vertical-align: middle;
                justify-content: flex-start;

                span {
                    width: 15px;
                    height: 15px;
                    display: block;
                    border-radius: 50%;
                    content: '';
                    margin-left: 24px;
                    margin-right: 8px;
                }
            }
        }
    }

    .side-right {
        width: 50px;
    }
}