.interactive-dinamic-search {
    position: relative;
    width: 100%;

    .row-search-options {
        display: flex;
        flex-direction: row;
    }

    .detail-filtro p {
        margin-bottom: 24px;
        font-family: 'Montserrat';
        font-size: 12px;
        line-height: 12px;
        font-weight: 600;
        text-align: left;
    }

    .detail-filtro p + p {
        text-align: center;
        margin-bottom: 36px;
    }

}