<div class="interactive-dinamic-search">
    <div class="row-search-options">
        <mat-form-field>
            <mat-icon style="margin-right: 16px;" matPrefix>search</mat-icon>
            <mat-label>Buscar Estudiante</mat-label>
            <input type="text" matInput>
        </mat-form-field>
        <button mat-icon-button>
            <mat-icon>menu</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon>keyboard_arrow_left</mat-icon>
        </button>
    </div>
    <div class="detail-filtro">
        <p>Filtro: PREMIUM COLLEGE - SURCO</p>
        <p>Busca a tus estudiantes.</p>
    </div>
</div>
