@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
body,
html {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 16px;
    font-size: 14px;
    color: rgba(0, 0, 0, 0.57);
}

.mat-list-base {
    padding-top: 0px !important;
}

.mat-sidenav {
    max-width: 60px !important;
    overflow: hidden !important;
    transition: 1s !important;

    .mat-drawer-inner-container {
        overflow: hidden !important;
    }
}

.mat-sidenav-add-custom-class {
    max-width: 280px !important;
}

.margin-container-left-closed {
    transition: 1s !important;
    margin-left: 60px !important;
}

.margin-container-left-opened {
    transition: 1s !important;
    margin-left: 280px !important;
}

.mat-sidenav-content {
    min-height: 100vh !important;
    transform: none;
    visibility: visible;
}

.d-none {
    display: none;
}

.d-flex {
    display: flex;
}

.color-default {
    color: #FFF !important;
}

.mat-dialog-container {
    padding: 0px !important;
}

::-webkit-scrollbar {
    width: 4px;     /* Tamaño del scroll en vertical */
    height: 4px;    /* Tamaño del scroll en horizontal */
}

/* Ponemos un color de fondo y redondeamos las esquinas del thumb */
::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 4px;
}

/* Cambiamos el fondo y agregamos una sombra cuando esté en hover */
::-webkit-scrollbar-thumb:hover {
    background: #b3b3b3;
    /* box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2); */
}

/* Cambiamos el fondo cuando esté en active */
::-webkit-scrollbar-thumb:active {
    background-color: #999999;
}

/* Ponemos un color de fondo y redondeamos las esquinas del track */
::-webkit-scrollbar-track {
    background: #e1e1e1;
    border-radius: 4px;
}

/* Cambiamos el fondo cuando esté en active o hover */
::-webkit-scrollbar-track:hover,
::-webkit-scrollbar-track:active {
  background: #d4d4d4;
}